<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Proyecto2_Noticias.CapaPresentacion.Views.Shared.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Periódico Virtual InfoWeb</title>
    <link href="<%= ResolveUrl("~/CapaPresentacion/css/site.css") %>" rel="stylesheet" />

</head>
<body>
    <form runat="server">
       <header-master> 
        <h1>Noticias InfoWeb</h1>
           <br />
           <h2>Fecha de hoy: <%: DateTime.Now.ToShortDateString() %></h2>
           <br />
           <nav>
            <a id="lnkInicio" runat="server" href="~/CapaPresentacion/Views/PaginaInicio/NoticiasPublicadas">Inicio</a> 
            <span>|</span>
            <a id="lnkAutores" runat="server" href="~/CapaPresentacion/Views/Autores/VistaGeneral">Configuracion de Autores</a>
            <span>|</span>
            <a id="lnkCategoria" runat="server" href="~/CapaPresentacion/Views/Categorias/VistaGeneralCategoria">Configuracion de Categorias</a>
            <span>|</span>
            <a id="lnkNoticia" runat="server" href="~/CapaPresentacion/Views/NoticiaPrese/VistaGeneralNoticia">Configuracion de Noticias</a>
            </nav>
           </header-master>
        <div class="container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" /> 
        </div>
    </form>
</body>
</html>
